<footer class="site-footer">

  <div class="wrapper">


    <!-- disquss -->


    <!-- disquss -->

    <!-- Google Analitics -->

    <!-- Google Analitics -->


    <h2 class="footer-heading" align="center">{{ site.title }}</h2>
    <p align="center">
      <strong>Современный javascript и javascript фреймворки</strong>
    </p>
    <p align="center">
      <strong>Группа в телеграм: jsdev_org</strong>
    </p>

  </div>

</footer>