<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">

        <a class="page-link" href="//labs.jsdev.org/web-developer-roadmap-2019/">WebDev Roadmap</a>

        |

        <a class="page-link" href="/clouds/qwiklabs/">Облака для изучения GCP и AWS</a>

        |

        <a class="page-link" href="/clouds/oracle-cloud-free-tier/">Бесплатные облака Oracle</a>

        |

        <a class="page-link" href="/books/">Книги</a>

        | Видеокурсы:

        <a class="page-link" href="{{ site.baseurl }}/courses/rus/">RUS</a>
        <a class="page-link" href="{{ site.baseurl }}/courses/eng/">ENG</a>

        |

        <a class="page-link" href="{{ site.baseurl }}/codes/">Примеры приложений</a>

        |

        <a class="page-link" href="{{ site.baseurl }}/chat/">Чат</a>
      </div>
    </nav>

  </div>

</header>